<header class="flex flex-row items-center justify-center mb-12">
  <nav id="nav" class="max-w-screen-md flex-grow p-3">
    <a href="https://southsideweekly.com/" aria-label="South Side Weekly">
      {% image "./src/img/logo.png", "South Side Weekly logo", "100vw", "logo" %}
    </a>
  </nav>
</header>
