---
layout: base
permalink: /
title: "Inmates at Stateville Correctional Center describe COVID-19 behind bars"
---
<article>
<div class="content text-center border-b pb-6 mb-12 border-black">
    <h1 class="article-title">
        Inmates at Stateville Correctional Center describe COVID-19 behind bars: ‘Everything that was done felt like a punishment’
    </h1>
    <h2 class="font-normal">
        “I fear more of us will perish due to incompetence, neglect and apathy,” said Williams La’Roy Peeples Jr.
    </h2>
    <p class="font-sans uppercase">
        By Madison Muller and Cheyanne M. Daniels
    </p>
</div>
<div class="dropcap content">
{% mdBlock %}
Robert Cloutier, fifty-seven, has spent half of his life as an inmate at Stateville Correctional Center in Joliet, Illinois. Incarcerated for nearly forty years, Cloutier has one of the more dangerous prison jobs during the pandemic: Disposing of the prison’s biohazard waste. Since the onset of COVID-19 last March, this has meant collecting the facility’s used personal protective equipment.

At the start of the pandemic, Cloutier said he would fill several bags with discarded PPE. These days, he can make five stops around the prison and only pick up one or two gloves, maybe a mask.

Everything he gathers goes into an unused room, where used PPE has been amassing since the beginning of the coronavirus pandemic.
{% endmdBlock %}
</div>
<div class="article-section">
    <div id="bg-doc-1" class="article-bg-image-container">
        {% image "./src/img/responses/page-1.jpg", "page", "100vw", "article-bg-image" %}
    </div>

    <div data-scroll-blur="bg-doc-1" class="article-content-container">
        <div class="content article-content">
{% mdBlock %}
On March 24, 2020, the Illinois Department of Corrections [reported](https://www2.illinois.gov/idoc/facilities/Documents/COVID-19/CommunicationCustody/Confirmed%20Cases.pdf) its first confirmed cases of COVID-19 in three facilities: Stateville Correctional Center, Sheridan Correctional Center and North Lawndale Adult Transition Center.

It wasn’t long before those cases multiplied, killing hundreds of people incarcerated in Illinois correctional facilities. 

“I have seen people I laughed with behind these walls die within the last year because of this virus,” said thirty-five year old Stateville inmate Benard McKinley.
{% endmdBlock %}
        </div>
        <div class="content article-content">
{% mdBlock %}
According to IDOC data, among the 1,091 inmates at Stateville, there have been 302 positive coronavirus cases and twelve deaths. 

Incarcerated individuals are five and a half times more likely to test positive for COVID-19 and three times more likely to die from it than the general public, according to the [University of Chicago Law Review Online](https://lawreviewblog.uchicago.edu/2020/11/16/covid-dolovich/).
{% endmdBlock %}
        </div>
        <div class="content article-content">
{% mdBlock %}
In an effort to mitigate prison infection rates, Gov. J.B. Pritzker began granting clemencies in March 2020. 

“Governor Pritzker very likely saved a lot of lives through the clemencies he granted last year and I truly believe he will save some by getting us vaccinated sooner rather than later,” said Quayshaun Bailey, twenty-eight, an inmate at Stateville Correctional Center in Joliet, Illinois.  
{% endmdBlock %}
        </div>
        <div class="content article-content">
{% mdBlock %}
With the COVID-19 vaccine rollout underway, Pritzker announced on Jan. 18 that corrections workers and inmates would be included along with residents over sixty-five, first responders and education workers in Phase 1b of the state’s distribution plan. [Phase 1b](https://coronavirus.illinois.gov/s/phase-1b) began on Jan. 25. Illinois Department of Corrections spokeswoman Lindsey Hess said in an email that IDOC would not begin vaccinating until mid-February. 

Inmates at Stateville Correctional Center were preparing for the arrival of the vaccine in early February. 
{% endmdBlock %}
        </div>
    </div>
</div>

<div class="article-section">
    <div id="bg-doc-2" class="article-bg-image-container">
        {% image "./src/img/responses/page-2.jpg", "page", "100vw", "article-bg-image" %}
    </div>

    <div data-scroll-blur="bg-doc-2" class="article-content-container">
        <div class="content article-content">
{% mdBlock %}
South Side Weekly sent inmates at Stateville questions about their experiences during the pandemic and feelings about the vaccinations. Thirteen wrote back: All knew at least one person who had contracted the virus. Three tested positive for COVID-19; three others experienced symptoms but were not tested at the time.

Despite receiving educational materials about the vaccine, distrust of prison officials and strained relationships with prison medical services complicate some the thirteen inmates’ feelings about getting vaccinated against COVID-19. 

But while not entirely enthusiastic about the vaccine, they fear the alternative is worse.
{% endmdBlock %}
        </div>
        <div class="content article-content">
{% mdBlock %}
“For me it’s not a matter of trust per say,” Stateville inmate William La’Roy Peeples Jr., fifty-six, wrote in his response. “It is about me feeling safer taking it, than trapped behind steel and concrete with the virus running rampant and having zero protection from it.”

Inside overcrowded prisons, it is nearly impossible to social distance. Inmates have seen prison officials disregard safety precautions and ignore pleas for help. 
{% endmdBlock %}
        </div>
        <div class="content article-content">
{% mdBlock %}
In an effort to mitigate prison infection rates, Gov. J.B. Pritzker began granting clemencies in March 2020. 

“Governor Pritzker very likely saved a lot of lives through the clemencies he granted last year and I truly believe he will save some by getting us vaccinated sooner rather than later,” said Quayshaun Bailey, twenty-eight, an inmate at Stateville Correctional Center in Joliet, Illinois.  
{% endmdBlock %}
        </div>
        <div class="content article-content">
{% mdBlock %}
Cloutier said that until recently those who were showing symptoms were sent to an area of the prison known as F-House. That’s a problem, he said, because F-House was also where inmates who worked in Stateville’s kitchen, preparing food for the entire institution, were placed. 

F-House was closed in 2016 for health and safety [concerns](https://static1.squarespace.com/static/5beab48285ede1f7e8102102/t/5d03e3341abad300017622d0/1560535860759/JHA_Stateville_Monitoring_Report+2011.pdf)—none of which were rectified, according to the watchdog group John Howard Association of Illinois—but was reopened in May to house sick inmates. 
{% endmdBlock %}
        </div>
    </div>
</div>
</article>

<button class="mt-16" data-modal-section="test">Modal</button>

{% include "modal.njk" %}
