---
layout: base
permalink: /
published: "2021-03-09T17:20:00+00:00"
date: Last Modified
---
<article>
<picture>
    <source type="image/webp" media="(max-width: 600px)" srcset="{% resizeImage './src/img/collage.jpg', '600x600', 'webp' %}" />
    <source type="image/webp" media="(min-width: 601px)" srcset="{% resizeImage './src/img/collage.jpg', '1200x1200', 'webp' %}" />
    <img src="{% resizeImage './src/img/collage.jpg', '1200x1200', 'jpeg' %}" alt="Collage of illustrations of respondents" class="max-w-screen-lg w-full mx-auto bg-orange-bg" width="1024" height="538" />
</picture>
<div class="content text-center border-b pb-6 mb-12 border-black">
    <h1 class="article-title">
        Everything Felt Like a Punishment
    </h1>
    <h2 class="article-subtitle">
        First-person accounts of COVID-19 from Stateville Correctional Center
    </h2>
    <p class="byline">
        By
        <a href="https://southsideweekly.com/author/madison-muller/" target="_blank" rel="noopener">Madison Muller</a>
        and
        <a href="https://southsideweekly.com/author/cheyanne-m-daniels/" target="_blank" rel="noopener">Cheyanne M. Daniels</a>
    </p>
    <p class="byline">
        Illustrations by Shane Tolentino, web interactive by Pat Sier
    </p>
</div>
<div class="dropcap content">
{% mdBlock %}
Robert Cloutier, fifty-seven, has spent more than half of his life at Stateville Correctional Center in Joliet, Illinois. Incarcerated for nearly forty years, Cloutier has one of the more dangerous prison jobs during the pandemic: disposing of the prison’s biohazard waste. Since the onset of COVID-19 last March, this has meant collecting the facility’s used personal protective equipment (PPE).

At the start of the pandemic, Cloutier said he would fill several bags with discarded PPE such as gloves or facemasks. These days, he can make five stops around the prison and only pick up one or two gloves, and maybe a mask. “Whatever they are doing with biohazard waste—it ain’t in marked containers," Cloutier said.

Everything he gathers goes into a room where used PPE has been amassing since the beginning of the coronavirus pandemic.
{% endmdBlock %}
</div>

<div class="content text-center">
    <p class="italic text-xl md:text-3xl">
        <a href="#gallery">Read letters in their own words &cudarrr;&#xFE0E;</a>
    </p>
</div>

{# 1.2 aspect ratio 1200x1000 #}
<div class="article-section">
    <div id="bg-doc-1" class="article-bg-image-container">
        <picture>
            <source type="image/webp" media="(max-width: 600px)" srcset="{% resizeImage './src/img/responses/page-49.jpg', '626x626', 'webp' %}" />
            <source type="image/webp" media="(min-width: 601px)" srcset="{% resizeImage './src/img/responses/page-49-crop.jpg', '1200x1200', 'webp' %}" />
            <img src="{% resizeImage './src/img/responses/page-49.jpg', '1200x1200', 'jpeg' %}" alt="Handwritten letter on lined, white notebook paper by Robert Cloutier" class="article-bg-image" width="1200" height="1000" />
        </picture>
    </div>
    <div data-scroll-blur="bg-doc-1" class="article-content-container">
        <div class="content article-content">
{% mdBlock %}
On March 24, 2020, the Illinois Department of Corrections [reported](https://www2.illinois.gov/idoc/facilities/Documents/COVID-19/CommunicationCustody/Confirmed%20Cases.pdf) its first confirmed cases of COVID-19 in three facilities: Stateville Correctional Center, Sheridan Correctional Center and North Lawndale Adult Transition Center. It wasn’t long before the coronavirus spread, [killing nearly 100 people](https://www.themarshallproject.org/2020/05/01/a-state-by-state-look-at-coronavirus-in-prisons#prisoner-deaths) incarcerated in Illinois correctional facilities. 

The Weekly sent incarcerated students in Northwestern University's [Prison Education Program](https://sites.northwestern.edu/npep/) at Stateville questions about their experiences during the pandemic and feelings about the vaccinations. Thirteen wrote back. All knew at least one person who had contracted the virus. Four who responded said they tested positive for COVID-19; four others experienced symptoms but were not tested at the time.

“I have seen people I laughed with behind these walls die within the last year because of this virus,” wrote thirty-five-year-old Benard McKinley.
{% endmdBlock %}
<div class="side-block right">
    <button class="portrait-button" data-modal-section="robert-cloutier">
        <picture>
            <source type="image/webp" srcset="{% resizeImage './src/img/portraits/Robert Cloutier.jpg', '600x600', 'webp' %}" />
            <img src="{% resizeImage './src/img/portraits/Robert Cloutier.jpg', '600x600', 'jpeg' %}" alt="Illustration of Robert Cloutier" class="portrait" loading="lazy" decoding="async" width="360" height="240" />
        </picture>
        <span class="label">
            Read Robert Cloutier's letter
        </span>
    </button>
    <a class="mt-4 md:mt-2 mx-auto text-lg italic" href="#gallery">Read more letters &cudarrr;&#xFE0E;</a>
</div>
{% mdBlock %}
Incarcerated individuals are five and one-half times more likely to test positive for COVID-19 and three times more likely to die from it than the general public, according to the [University of Chicago Law Review Online](https://lawreviewblog.uchicago.edu/2020/11/16/covid-dolovich/). Among the 1,091 incarcerated at Stateville, [303 have tested positive](https://www2.illinois.gov/idoc/facilities/Pages/Covid19Response.aspx) for coronavirus and at least thirteen have died. 

In an effort to mitigate prison infection rates, Gov. J.B. Pritzker began [granting clemencies](https://www.chicagotribune.com/coronavirus/ct-coronavirus-pritzker-inmate-commutations-20200409-ql323nt4azfitagdeon5gswn2q-story.html) in March 2020. 

In January, Pritzker announced that corrections workers and incarcerated individuals would be included along with residents over sixty-five, first responders and education workers in [Phase 1b](https://coronavirus.illinois.gov/s/phase-1b) of the state’s COVID-19 vaccine distribution plan, which began on January 25. The Illinois Department of Corrections [began vaccinating prisoners](https://www.chicagotribune.com/investigations/ct-coronavirus-illinois-prison-vaccine-plan-update-20210213-7pshvlwhmjgopl3qgfxfl46avy-story.html) in mid-February.
{% endmdBlock %}
        </div>
    </div>
</div>

<div class="article-section">
    <div id="bg-doc-2" class="article-bg-image-container">
        <picture>
            <source type="image/webp" media="(max-width: 600px)" srcset="{% resizeImage './src/img/responses/page-26.jpg', '626x626', 'webp' %}" />
            <source type="image/webp" media="(min-width: 601px)" srcset="{% resizeImage './src/img/responses/page-26-crop.jpg', '1200x1200', 'webp' %}" />
            <img src="{% resizeImage './src/img/responses/page-26.jpg', '1200x1050' %}" alt="Handwritten letter on lined, white notebook paper by William La’Roy Peeples Jr." class="article-bg-image" loading="lazy" decoding="async" width="1200" height="1000" />
        </picture>
    </div>

    <div data-scroll-blur="bg-doc-2" class="article-content-container">
        <div class="content article-content">
{% mdBlock %}
Despite receiving educational materials about the vaccine, distrust of prison officials and strained relationships with prison medical services complicate some the thirteen students’ feelings about getting vaccinated against COVID-19. 

But while they are not entirely enthusiastic about the vaccine, they fear the alternative is worse.

“For me it’s not a matter of trust per say,” William La’Roy Peeples Jr., fifty-six, wrote in his response. “It is about me feeling safer taking it, than trapped behind steel and concrete with the virus running rampant and having zero protection from it.”
{% endmdBlock %}
<div class="side-block left">
    <button class="portrait-button" data-modal-section="william-laroy-peeples-jr">
        <picture>
            <source type="image/webp" srcset="{% resizeImage './src/img/portraits/William LaRoy Peeples.jpg', '600x600', 'webp' %}" />
            <img src="{% resizeImage './src/img/portraits/William LaRoy Peeples.jpg', '600x600', 'jpeg' %}" alt="Illustration of William La’Roy Peeples Jr." class="portrait" loading="lazy" decoding="async" width="360" height="240" />
        </picture>
        <span class="label">
            Read William La’Roy Peeples Jr.'s letter
        </span>
    </button>
    <a class="mt-2 mx-auto text-lg italic" href="#gallery">Read more letters &cudarrr;&#xFE0E;</a>
</div>
{% mdBlock %}
Cloutier said that until recently those who were showing symptoms were sent to an area of the prison known as F-House. That’s a problem, he said, because F-House was also where Stateville's kitchen workers, who prepare food for the entire institution, were incarcerated. 

It had been closed in 2016 because of health and safety [concerns](https://static1.squarespace.com/static/5beab48285ede1f7e8102102/t/5d03e3341abad300017622d0/1560535860759/JHA_Stateville_Monitoring_Report+2011.pdf)—none of which were rectified, according to the watchdog group John Howard Association of Illinois—but was reopened in May as a COVID-19 isolation unit. 

"Initially they gave us disinfectant and bleach every day,” said Peeples. “But they soon stopped doing it, or when they did it was so diluted it had no real effect."
{% endmdBlock %}
        </div>
    </div>
</div>

<div class="article-section">
    <div id="bg-doc-3" class="article-bg-image-container">
        <picture>
            <source type="image/webp" media="(max-width: 600px)" srcset="{% resizeImage './src/img/responses/page-1.jpg', '626x626', 'webp' %}" />
            <source type="image/webp" media="(min-width: 601px)" srcset="{% resizeImage './src/img/responses/page-1-crop.jpg', '1200x1200', 'webp' %}" />
            <img src="{% resizeImage './src/img/responses/page-1.jpg', '1200x1200' %}" alt="Handwritten letter on lined, white notebook paper by Benard McKinley" class="article-bg-image" loading="lazy" decoding="async" width="1200" height="1000" />
        </picture>
    </div>

    <div data-scroll-blur="bg-doc-3" class="article-content-container">
        <div class="content article-content">
{% mdBlock %}
Most troubling for some of the thirteen Stateville students is the risk prison staff pose. According to them, staff were not required to get tested for COVID-19 until January. And now, some are refusing to get vaccinated. 

“I asked a female correctional officer today was she gonna take the vaccine if offered,” wrote McKinley. “She replied she had already turned it down.”

Stateville Correctional Center and IDOC did not respond to repeated requests for additional comment or information.

“By not adhering to their own rules proves my life is not their priority,” said forty-year-old LeShun Smith, “the staff brought the virus in.”

A recent [study](https://whistleblower.org/wp-content/uploads/2020/04/Irvine_JUH_ICE_COVID19_model.pdf) found that once COVID-19 enters an ICE detention facility, it can infect between seventy-two and ninety-nine percent of detainees within three months. While Illinois prisons may not be as crowded as detention facilities, the epidemiological risk factors faced by people incarcerated by the state are still staggering. IDOC reported a statewide prison population of [more than 29,000](https://www2.illinois.gov/idoc/reportsandstatistics/Pages/Prison-Population-Data-Sets.aspx) as of December 31, 2020. More than half of those incarcerated in Illinois are Black; racism has created systemic barriers to health care access and [placed higher disease burdens](https://www.scientificamerican.com/article/why-racism-not-race-is-a-risk-factor-for-dying-of-covid-191/) on Black Americans, making them more susceptible to contracting, and dying, from the virus. 

“Long before the pandemic, medical treatment in prison were way less than subpar,” Smith said. “Even after exposure they continue letting us fall by the wayside because we’re convicted criminals. They believe that our conviction nullifies our rights as U.S. citizens.”
{% endmdBlock %}
<div class="side-block right">
    <button class="portrait-button" data-modal-section="benard-mckinley">
        <picture>
            <source type="image/webp" srcset="{% resizeImage './src/img/portraits/Benard McKinley.jpg', '600x600', 'webp' %}" />
            <img src="{% resizeImage './src/img/portraits/Benard McKinley.jpg', '600x600' %}" alt="Illustration of Benard McKinley" class="portrait" loading="lazy" decoding="async" width="360" height="240" />
        </picture>
        <span class="label">
            Read Benard McKinley's letter
        </span>
    </button>
    <a class="mt-2 mx-auto text-lg italic" href="#gallery">Read more letters &cudarrr;&#xFE0E;</a>
</div>
{% mdBlock %}
While prisons are required to provide medical care for incarcerated people, it is not unusual for incarcerated people to receive inadequate health care that has at times resulted in death. The problem is compounded by the fact that [forty percent](https://www.bjs.gov/content/pub/pdf/mpsfpji1112.pdf) of incarcerated people have chronic health conditions. 

Travis Dortch, fifty-three, who has Type 2 diabetes and hypertension, said he gets his medicine late, sometimes going weeks without it. 

“I would complain—but my will and spirit is broken to just have the little I have,” he said. 

Many prisons require requests to go to a medical unit be made in writing, which prison officials can take up to five days to respond to, according to the [Prison Fellowship](https://www.prisonfellowship.org/resources/training-resources/in-prison/faq-medical-care/). Time is something those infected with COVID-19 do not have. 

Broderick Hollins Sr., forty, was hospitalized for COVID in May before being moved to Stateville’s medical unit for twenty-seven days. He remains on medication as he recovers but said he still fears for his life. 

Hollins wrote that nurses are among the only Stateville prison employees who enforce mask-wearing and that when individuals held there are tested for coronavirus, the nasal swabbing often is not done properly. But he remains hopeful that he will make it to his June 2022 parole date healthy, even though he believes prison officials consider those held at Stateville to be “just money, not humans with loved ones.”
{% endmdBlock %}
        </div>
    </div>
</div>

<div class="article-section last">
    <div id="bg-doc-4" class="article-bg-image-container">
        <picture>
            <source type="image/webp" media="(max-width: 600px)" srcset="{% resizeImage './src/img/responses/page-52.jpg', '626x626', 'webp' %}" />
            <source type="image/webp" media="(min-width: 601px)" srcset="{% resizeImage './src/img/responses/page-52-crop.jpg', '1200x1200', 'webp' %}" />
            <img src="{% resizeImage './src/img/responses/page-52.jpg', '1200x1200' %}" alt="Handwritten letter on lined, yellow legal paper by Broderick Hollins, Sr." class="article-bg-image bg-yellow-paper" loading="lazy" decoding="async" width="1200" height="1000" />
        </picture>
    </div>

    <div data-scroll-blur="bg-doc-4" class="article-content-container">
        <div class="content article-content">
{% mdBlock %}
While so many struggled to adjust to the realities of life during the pandemic, for incarcerated Americans these realities were exacerbated by an uncompromising penal system.

Visitation with loved ones was suspended, according to Stateville’s website, access to technology was further limited and movement was almost nonexistent. 

“For months and months, the facility didn’t prioritize my health and wellbeing,” Lynn Green, forty, wrote. “The facility functioned more like a disciplinary lockdown, than a quarantine. We were handcuffed everywhere we went and patted down by staff with the same gloves as they searched us.”
{% endmdBlock %}
<div class="side-block left">
    <button class="portrait-button" data-modal-section="broderick-hollins-sr">
        <picture>
            <source type="image/webp" srcset="{% resizeImage './src/img/portraits/Broderick Hollins.jpg', '600x600', 'webp' %}" />
            <img src="{% resizeImage './src/img/portraits/Broderick Hollins.jpg', '600x600' %}" alt="Illustration of Broderick Hollins, Sr." class="portrait" loading="lazy" decoding="async" width="360" height="240" />
        </picture>
        <span class="label">
            Read Broderick Hollins's letter
        </span>
    </button>
    <a class="mt-2 mx-auto text-lg italic" href="#gallery">Read more letters &cudarrr;&#xFE0E;</a>
</div>
{% mdBlock %}
Isolation and inaccessibility to the few privileges usually afforded to those at Stateville are, for many of the thirteen students, the most unbearable aspects of the pandemic. And although mental health counselors hold weekly check-ins, Dortch said it’s hard to open up to them.  

“How can you tell someone who you know does not care if you live or die, about your mental problems,” Dortch wrote. He said efforts to distract himself are futile as he worries about the toll COVID-19 has on his loved ones. His mother has been hospitalized four times during this unprecedented time.

“I have become numb to the death of people daily—thinking I could be next,” he wrote. 

“There is only hope in the unseen, which tomorrow brings the COVID-19 death toll with another thousand down—and I pray I’m not next. Keep me safe in the thoughts of the innocent until relief comes.”  
{% endmdBlock %}
        </div>
    </div>
</div>

<div class="content">
    <p aria-hidden="true" class="text-center text-red">
        ✶ ✶ ✶ ✶
    </p>
</div>

</article>

<div id="gallery" class="pt-4 mt-8">
    <h2 class="text-center text-3xl md:text-5xl mb-3 md:mb-6 font-normal">
        In their own words
    </h2>
    <div class="portrait-grid">
    {% for response in responses %}
    <button class="portrait-button" data-modal-section="{{ response.id }}">
        {% set portrait %}./src/img/portraits/{{ response.image }}{% endset %}
        {% set portraitAlt %}Illustration of {{ response.name }}{% endset %}
        <picture>
            <source type="image/webp" srcset="{% resizeImage portrait, '400x400', 'webp' %}" />
            <img src="{% resizeImage portrait, '800x800' %}" alt="{{ portraitAlt }}" loading="lazy" decoding="async" class="portrait" width="360" height="240" />
        </picture>
        <span class="label">
            {{ response.name }}
        </span>
    </button>
    {% endfor %}
    </div>
</div>

<div class="content py-12">
{% mdBlock %}
_Editors' note: Instances of the word “inmate” have been removed or changed in this story in response to a request by NPEP._
{% endmdBlock %}
    <p aria-hidden="true" class="text-center text-red">
        ✶ ✶ ✶ ✶
    </p>
{% mdBlock %}
_Madison Muller is a graduate student at Northwestern University studying social justice journalism. She last covered [a Pilsen protest of a police homicide](https://southsideweekly.com/we-are-tired-of-crying/). Cheyanne Daniels is a journalism graduate student at Northwestern University studying politics, policy and foreign affairs. This is her first story for the Weekly._
{% endmdBlock %}
</div>

{% include "modal.njk" %}
