html,
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  @apply flex flex-col min-h-screen font-serif text-2xl bg-brown-bg;

  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif font-bold;
}

a {
  @apply text-red;

  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
}

/* For alt text display */
img {
  @apply text-center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-focusable:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.blur {
  filter: blur(4px);
}

#nav .logo {
  max-width: 250px;
}

#close-modal {
  @apply text-lg w-6 h-6 leading-none rounded-full bg-black text-white font-bold;

  font-family: sans-serif;
}

#close-modal:active,
#close-modal:hover,
#close-modal:focus {
  @apply bg-red;
}

#modal-title {
  @apply font-normal;
}

.content .article-title {
  @apply text-3xl font-normal;

  line-height: 1.1;
}

.content h1.article-title:first-child {
  @apply mt-10;
}

.content .article-subtitle {
  @apply font-normal italic text-xl;
}

.content .byline,
.content .byline:not(:last-child) {
  @apply font-sans uppercase text-base mb-0;
}

@screen md {
  .content .article-title {
    @apply text-5xl;
  }

  .content .article-subtitle {
    @apply text-3xl;
  }

  .content .byline,
  .content .byline:not(:last-child) {
    @apply text-xl;
  }
}

.logo-link:hover,
.logo-link:active,
.logo-link:focus {
  filter: contrast(25%);
}

.portrait-grid {
  @apply max-w-screen-lg mx-auto grid grid-cols-2 gap-2 items-start px-3 text-center;
}

.portrait-button .label {
  @apply text-lg text-red block mt-2 leading-none;
}

.portrait-button:hover,
.portrait-button:focus,
.portrait-button:active {
  filter: brightness(70%);
}

.portrait-button:hover .label,
.portrait-button:focus .label,
.portrait-button:active .label {
  @apply underline;
}

.portrait-button .portrait {
  @apply w-full bg-orange-bg;
}

@screen md {
  .portrait-grid {
    @apply grid-cols-3 gap-3;
  }
  .portrait-button .label {
    @apply text-xl;
  }
}

.dropcap p:first-child:first-letter {
  @apply float-left m-0 text-red;

  font-size: 3.2em;
  line-height: 0.4em;
  padding-right: 0.1em;
  padding-top: 0.4em;
}

@-moz-document url-prefix() {
  .dropcap p:first-child:first-letter {
    padding-top: 0.1em;
  }
}

@screen md {
  .content.article-content {
    @apply px-6 py-8;
  }
}

.side-block {
  @apply w-full my-4 flex flex-col items-center justify-center;
}

@screen md {
  .side-block {
    @apply w-1/2 my-0;
  }
  .side-block.left {
    @apply float-left mr-5 items-start;
  }
  .side-block.right {
    @apply float-right ml-5 items-end;
  }
}

/* IE-only fixes */
@media all and (-ms-high-contrast: none) {
  .portrait-button .portrait {
    max-width: 360px;
  }
  .article-bg-image {
    @apply mb-20;
  }
}

/* Fix bug for desktop Safari where background extends outside image dimensions */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .article-bg-image {
      background-color: theme("colors.brown.bg") !important;
    }
  }
}
