@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .article-bg-image-container {
    @apply sticky h-screen max-h-full top-0 flex items-center justify-center mx-auto;

    filter: blur(0);
    transition: filter 0.2s ease-in-out;
    max-width: 1252px;
  }

  .article-bg-image {
    @apply w-full max-w-full max-h-screen z-0 bg-gray-paper;

    object-fit: cover;
  }

  @screen md {
    .article-bg-image {
      object-fit: contain;
    }
  }

  .article-section {
    @apply relative w-full mt-0;
  }

  @screen md {
    .article-section {
      @apply my-20;
    }
    .article-section.last {
      @apply mb-10;
    }
  }

  .article-content-container {
    @apply relative max-w-screen-md pb-24 mx-auto z-10;
  }

  .article-content {
    @apply py-5 px-3 bg-brown-bg-light mb-10 shadow-lg;
  }

  @screen md {
    .article-content {
      @apply py-8 px-6;
    }
  }
}
